@model IEnumerable<E_Ticaret_Uygulamasi.Models.Urunler>

@{
    ViewBag.Title = "Index";
}

<h2>Ürünler</h2>

<p>
    @Html.ActionLink("Yeni Ürün", "Create",null,new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </th>
        <th>
            Ürün Fotoğrafı
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunAciklamasi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunFiyatı)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategoriler.KategoriAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrunAdi)
        </td>
        <td>
            <img src="~/Fotograf/@(item.UrunID).jpg" width="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunAciklamasi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunFiyatı)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategoriler.KategoriAdi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.UrunID },new { @class = "btn btn-warning btn-xs" }) 
            @Html.ActionLink("Detay", "Details", new { id=item.UrunID }, new { @class = "btn btn-primary btn-xs" }) 
            @Html.ActionLink("Sil", "Delete", new { id=item.UrunID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
